.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  width: 100vw;
  max-width: 100%;
  flex: 1;
  background-color: var(--color-primary);
  border-radius: 2rem 2rem 0 0;
  padding: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
  border-radius: 2rem 2rem 0 0;
  background-color: var(--color-primary);
}

.inputs-container {
  width: 100vw;
  flex: 1;
  max-width: 100%;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form-group + .form-group {
  margin-top: 2rem;
}

.label {
  font-size: 1.15rem;
  font-weight: 300;
  font-family: var(--font-family);
  color: var(--color-secondary);
}
.text-input {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;
  font-size: 1.15rem;
  font-family: var(--font-family);
  color: var(--color-primary);
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.submit-button button {
  padding: var(--button-with-text-padding);
  border: none;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--color-accent);
  color: white;
  font-size: 1.25rem;
}

.restart-button {
  width: 100%;
  padding: var(--button-with-text-padding);
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-accent);
  color: var(--color-secondary);
  font-size: 1.25rem;
  font-weight: 400;
  cursor: pointer;
  max-width: 254px;
  margin-top: 2rem;
}