:root {
  /*  variables */
  --color-primary: #111;
  --color-secondary: #fff;
  --color-faded-primary: #222;
  --color-faded-secondary: #ccc;
  --color-accent: rgb(212, 11, 11);
  --font-family: 'segoue ui', sans-serif;
  --sm-padding: 1rem;
  --lg-padding: 2rem;
  --button-with-text-padding: 1rem 2rem;
  --button-with-icon-padding: 1rem;
  --max-content-width: 1200px;
}

*, *::before, *::after {
  /* default resets */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  color: var(--color-accent);
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
}

::selection, ::-moz-selection {
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

body {
  height: 100vh;
  min-height: fit-content;
  padding: 0;
  flex: 1;
}

.content {  
  color: var(--color-primary);
  font-family: var(--font-family);
  width: 100%;
  margin: 0;
  visibility: hidden;
  display: none;
}

.desktop-only {
  display: block;
  visibility: visible;
}

.max-content-container {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 0 var(--lg-padding);
  height: 100%;
}

@media ( max-width: 768px ) {

  .content {
    visibility: visible;
    display: block;
  }

  .desktop-only {
    display: none;
    visibility: hidden;
  }

  .max-content-container {
    padding: 0 var(--sm-padding);
  }
  
  .cover {
  position: relative;
  width: 100vw;
  max-width: 100%;
  flex: 1;
  height: 200px;
  filter: saturate(0);
 }

.cover img {
  object-fit: cover;
  border-radius: 0 0 2rem 2rem;
 }

 .cover-text {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .cover-text .title {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: 500;
 }

 .title span {
  color: var(--color-accent);
 }

 .cover-text .subtitle {
  font-size: 1.15rem;
  font-weight: 300;
  text-align: center;
  color: var(--color-faded-primary);
 }
}