.price-display {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 2rem 0;
  color: var(--color-secondary);
  line-height: 1.5;
  font-size: 1.15rem;
  text-align: justify;
}

.price-field {
  color: var(--color-secondary);
  font-weight: 800;
}

.price-display-field + .price-display-field  {
  margin-left: 2rem;
}